{% extends "base.html" %}
{% block content %}
<body>
    <main class="form-signin text-center container my-4">
        {% for aroma in aromas %}    
            <div class="container mt-3 col-md-4 mb-5">

                <div class="card h-100 border-dark">
                    <div class="card-header">
                        <p><img src="{{ aroma.image.url }}" width="250px" height="250px"></p>
                        <h3 class="card-title my-3">{{ aroma.name }}</h3>
                    </div>
                    <div class="card-body">
                        <span class="title text-dark px-2">
                            {{ aroma.summary }}
                        </span>
                    </div>
                    <div class="card-footer border-dark">
                        <ul class="my-1" >
                            <a type="button" href="{{ aroma.get_goods_url }}" class="btn btn-outline-dark btn-sm"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                </svg>
                                Goods
                            </a>
                            <a type="button" href="{% url 'catalog-index' %}" class="btn btn-outline-dark btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                                </svg>
                                Home 
                            </a>
                        </ul>    
                    </div>
                </div>
            </div>
        {% endfor %}          
    </main>   
</body>      
{% endblock content %}