{% extends "base.html" %}
{% block content %}
<body>
    <main class="form-signin text-center container">   
        <div class="container mt-3 col-md-5 mb-5">
            <div class="card h-100 border-dark">
                <div class="card-header">
                    <p><img src="{{ good.image.url }}" width="300px" height="300px"></p>
                    <h3 class="card-title my-3">{{good.title}}</h3>
                </div>
                <div class="card-body">
                    {{good.summary}}
                </div>    
                <div class="card-body">
                    <a class="btn btn-sm bg-secondary border text-light rounded px-2" href="{{ good.manufacturer.get_manufacturer_url }}">
                        {{good.manufacturer.name}}
                    </a>
                    <a class="btn btn-sm bg-success border text-light rounded-4 px-2" href="{{ good.aroma.get_aroma_url }}">
                        {{good.aroma.name}}
                    </a>
                    <div class="container my-2">
                        {% for volume in good.volumes %}
                            <span class="btn-sm bg-dark border-5 text-light rounded-circle px-2 ms-2" href="#!">
                                {{volume}}    
                            </span>
                        {% endfor %}
                    </div> 
                </div>
                <div class="card-footer border-dark">
                    <ul class="my-1" >
                        <a type="button" class="btn btn-outline-dark btn-sm" href="{{ good.link }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-symlink" viewBox="0 0 16 16">
                                <path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z"/>
                                <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                            </svg>
                            Link
                        </a>
                        <a type="button" href="#" class="btn btn-outline-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            Favorites
                        </a>
                        <a type="button" href="{% url 'catalog-index' %}" class="btn btn-outline-dark btn-sm">Home 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                            </svg>
                        </a>
                    </ul>    
                </div>
            </div>
        </div>        
    </main>
</body>      
{% endblock content %}