{% extends 'base.html' %}
{% block content %}
<main class="form-signin text-center container">
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6">
                <div class="alert-success">
                    <strong>Внимание!</strong> Ваш пароль обновлен.
                </div>
                
                <a type="button" class="btn btn-outline-dark me-2 py-4 my-4 px-5" href="{% url 'login' %}">Вернуться на страницу авторизации</a>
           
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</main>    
{% endblock %}   